body {
  height: 1000vh;
  margin: 50px;
}

div {
  width: 150px;
  height: 150px;
  background-color: wheat;
  position: relative;
}

div:first-child {
  background-color: tomato;
}

div:last-child {
  background-color: teal;
}

span {
  background-color: tomato;
}

span:nth-child(2),
span:nth-child(4),
span:nth-child(6) {
  background-color: teal;
}

span:nth-child(even) {
  background-color: teal;
}
span:nth-child(odd) {
  background-color: tomato;
}

span:nth-child(3n + 1) {
  background-color: teal;
}
