body {
  height: 1000vh;
  margin: 50px;
}

div {
  width: 300px;
  height: 300px;
  background-color: wheat;
  position: relative;
}

.green {
  background-color: teal;
  position: relative; /** 원래 위치 기준으로 변경됨 */
  top: -10px;
  left: -10px;
  width: 100px;
  height: 100px;
}

.blue {
  background-color: blue;
  height: 100px;
  position: absolute; /** 가장 가까운 relative 부모 기준으로 설정된다 */
  right: 0px;
  bottom: 0px;
  width: 100px;
}
