html {
  background-color: tomato;
}

body {
  /* 상하 좌우*/
  margin: 20px 15px;

  /* 위 오른쪽 아래 왼쪽 : 시계방향 */
  margin: 20px 5px 12px 9px;

  margin: 20px;
  padding: 10px;
  background-color: thistle;
}

div {
  padding: 10px;
}

/**
 * display: inline: in-the-same-line 옆에 또 올 수 있음
 * display: block: 옆에 아무것도 올 수 없음
 */

/**
 * inline -> width, height 가 없음
 * block -> width, height 가 있음
 * box의 특성
 * - margin
 * - border
 * - padding
 */

/**
 * user agent stylesheet -> 브라우저가 기본적으로 style을 제공했다라는 의미
 **/

#first {
  background-color: whitesmoke;
  width: 150px;
  height: 150px;
}

#second {
  background-color: teal;
  height: 100px;
  width: 100px;
}

#third {
  background-color: wheat;
  height: 50px;
  width: 50px;
}

#fourth {
  background-color: blanchedalmond;
  height: 20px;
  width: 20px;
}
