body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div {
  background-color: teal;
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 600px) {
  div {
    background-color: tomato;
  }
}

/** 스크린이 width 600 ~ 1200px */
@media screen and (min-width: 601px) and (max-width: 1200px) and (orientation: landscape) {
  div {
    background-color: wheat;
  }
}

@media screen and (min-width: 1200px) {
  div {
    background-color: turquoise;
  }
}

span {
  font-size: 36px;
}

@media screen and (orientation: landscape) {
  span {
    display: none;
  }
}
