body {
  height: 100vh; /** viewpoint height = 100% */
  margin: 20px;
  display: flex;
  justify-content: space-between; /** main-axis **/
  /** center, space-between, space-evenly, flex-start, flex-end ... */
  align-items: center;
  /** cros axios */
  /* flex-direction: row-reverse; */
  flex-wrap: wrap; /** nowrap - 무조건 한줄  wrap - 크기에따라 여러줄 가능 **/
}

/** flexbox 주의사항
 ** 1. 자식 엘리먼트에게 어떤 것도 적용하면 안된다.
 ** - 부모 엘리먼트가 자식 엘리먼트를 제어함.
 */

div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: white;
  width: 300px;
  height: 300px;
  background-color: teal;
}

#second {
  background-color: wheat;
}
